body{
    display:flex;
    align-items:center;
    flex-direction:column;
    box-sizing:border-box;
    padding:0px;
    font-family:'Raleway';
    margin:0 auto;
}

p{
    margin:0px;
}

button{
    border:none;
    background:none;
    font-family:'raleway';
    cursor:pointer;
    padding:0px;
}

h2{
    width:100%;
    font-size:18px;
}

.titre_populaire{
    display:flex;

}

header{
    width:calc(100% - 20px);
    max-width:1400px;
    padding-left:20px;
    box-sizing:border-box;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    width:auto;
    height:50px;
}

ul{
    list-style-type:none;
    padding:0px;
}

li{
    padding:0px;
}

.navigation{
    display:flex;
    justify-content:space-around;
    margin-top:0px;
}

.hebergements{
    border-top:solid 3px white;
    padding:50px  20px 0px 20px;
    text-decoration:none;
}

.hebergements:hover, .activites:hover{
    border-top:solid 3px #0065FC;
}

.boutton{
    color:black;
}

.test{
    display:flex;
    justify-content:space-between;
    width:100%;
    gap:20px;
}

.activites{
    border-top:solid 3px white;
    padding:50px 20px 0px 20px;
    color:black;
    text-decoration:none;
}

a:link{
    text-decoration:none;
}

.boutton:hover{
    color:#0065FC;
}

.barre_recherche{
    display:flex;
    margin-top: 25px;
    margin-bottom:25px;
}

.localisation{
    display:flex;
    align-items:center;
    justify-content:center;
    border:1px #F2F2F2 solid;
    background-color: #F2F2F2;
    width:45px;
    border-radius:15px 0px 0px 15px;
}

.ville{
    border:1px #F2F2F2 solid;
    padding:0px 0px 0px 15px;
    font-weight:800;
    margin:0px;
    font-family:'Raleway';
    font-size: 15px;
}

.ville:focus{
    border:0px;
}

.formulaire{
    display:flex;
    justify-content:flex-start;
    width:100%;
}

.rechercher{
    color:white;
    background-color:#0065FC;
    padding:15px;
    border-radius:0px 15px 15px 0px;
    font-weight:700;
    border:none;
    font-size:15px;
    margin-left:0px;
    font-family:'Raleway';
}

.filtres{
    display:flex;
    align-items:center;
    font-weight:800;
}

.boutton_filtres{
    display:flex;
    width:100%;
    gap:20px;
    flex-wrap:wrap;
}

.txt_filtres{
    padding-inline:10px;
    font-size:15px;
    font-weight:bold;
}

.element_filtres{
    display:flex;
    align-items:Center;
    border:3px #F2F2F2 solid;
    border-radius:30px 30px 30px 30px;
    padding:0px;
    transition:background-color 0.5s;
}

.element_filtres:hover{
    background-color:#F2F2F2;
}

.fa-money-bill-wave, .fa-child-reaching, .fa-heart, .fa-dog{
    display:flex;
    align-items:center;
    justify-content:center;
    color:#0065FC;
    border-radius:50px;
    background-color:#DEEBFF;
    width:50px;
    height:50px;
    margin:-3px;
}

.star-full{
    color:#0065FC;
}

.star-populaire{
    line-height:1;
    color:black;
}

.fa-magnifying-glass{
    display:none;
}

main{
    padding-inline:20px;
    max-width:1400px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    box-sizing:border-box;
}

.resultat{
    background-color:#F2F2F2;
    border-radius:15px;
    padding:20px;
}

.hebergement{
    max-width: 930px;
    display:flex;
    flex-wrap:wrap;
}

.alerte{
    display:flex;
    align-items:Center;
    margin:20px 0px 20px 0px;
}

.fa-info{
    display:flex;
    align-items:center;
    justify-content:center;
    color:#0065FC;
    border:1px solid #F2F2F2;
    width:20px;
    height:20px;
    border-radius:20px;
    font-weight:900;
    margin-right:10px;
}

.titre{
    margin:0px;
    font-size:18px;
}

.Activites{
    padding:40px 0px 25px 0px;
}

.article{
    background-color: white;
    display:flex;
    border-radius:22px;
    padding:5px;
    box-shadow:0px 3px 5px #d8d9d9;
    cursor:pointer;
}

.grille_hebergement{
    flex-wrap: wrap;
    padding-block:20px;
}

.grille{
    gap:30px;
    display:flex;
}

.Hebergement{
    flex-direction:column;
    height:190px;
    flex:1;
    min-width:27%;
}

.image{
    height:calc(100% - 60px);
    border-radius:17px 17px 0px 0px;
    object-fit:cover;
    min-height:0px;
    width:100%;
}

.descriptif{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height: 75px;
    padding:10px 0px 0px 10px;
}

.titre_descriptif{
    font-size:15px;
    font-weight:800;
}

.prix_descriptif{
    font-size:15px;
    font-weight:500;
}

.star-empty{
    color:#F2F2F2;
}

.afficher{
    width:fit-content;
    padding-left:20px;
    font-weight:bold;
    background:none;
    border: 0px;
    font-family: 'raleway';
    font-size:17px;
}

.afficher:hover{
    cursor:pointer;
}

.populaire{
    display:flex;
    flex-direction:column;
}

.fa-chart-line-up{
    width:10px;
    height:10px;
}

.Populaire{
    height:90px;
    min-width:0px;
    flex:1;
}

.grille_populaire{
    flex-direction:column;
    padding-block:20px;
    max-width:305px;
}

.imageg{
    border-radius:17px 0px 0px 17px;
    object-fit: cover;
    width:calc(100% - 190px);
    min-width:104px;
    height:100%;
}

.descriptif_populaire{
    height:120px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding-left:10px;
    width:150px;
}

.grille_activite{
    height:550px;
}

.colonne{
    width:25%;
    display:flex;
    flex-direction:column;
    gap:40px;
}

.article_activite{
    border-radius:15px;
    box-shadow:0px 3px 5px #d8d9d9;
    display:flex;
    flex-direction:column;
    flex:1 1 auto;
    min-height:0px;
}

.activite{
    border-radius:15px 15px 0px 0px;
    object-fit:cover;
    width:100%;
    height: calc(100% - 50px);
}

.descriptif_activite{
    font-weight:bold;
    min-height:50px;
    padding-left:10px;
    font-size:15px;
    display: flex;
    align-items: center;
    text-align:start;
}

footer{
    margin-top:20px;
    display:flex;
    width:100%;
    height:200px;
    background-color:#F2F2F2;
    justify-content:center;
}

.contenu_footer{
    display:flex;
    width:100%;
    max-width:1400px;
    padding-left:20px;
    box-sizing:border-box;
}

.titre_footer{
    font-weight:700;
}

.liste_footer{
    flex:1;
}

.contenue_footer{
    padding-top:15px;
}

@media (max-width:992px){
    
    .filtres{
    padding-left: 0px;
    max-width: 992px;
    gap: 0px;
    align-items:baseline;
    }

    main{
        max-width: 100%;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
    }

    .test{
        display:flex;
        align-items:center;
        flex-direction:column;
    }

    .element_filtres{
        padding-right:0px;
    }

    .resultat{
        border-radius: 0px;
    }

    .liste_footer{
        padding-right:0px;
    }

    .contenu_footer{
        justify-content:space-around;
    }

    .grille_populaire{
        flex-direction: row;
        max-width:921px;
    }

    .grille{
        gap:30px;
        display:flex;
        justify-content:space-between;
    }

    .populaire{
        width:calc(100% - 40px);
        display:flex;
        flex-wrap:wrap;
        order:1;
    }

    .descriptif_populaire{
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        height: 75px;
        padding:10px 0px 0px 10px;
    }

    .imageg{
        border-radius:17px 17px 0px 0px;
        width:100%;
        min-height:0px;
    }

    .test{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
    }

    .hebergement{
        order:2;
    }

    .Populaire{
        height:150px;
    }

    .Hebergement, .Populaire{
        height:200px;
        flex-direction:column;
        min-width:27%;
    }
}

@media (max-width:767px){

    header{
        width:100%;
        padding:0px;
    }

    .navigation{
        width:100%;
    }

    .header{
        flex-wrap:wrap;
        flex-direction:column;
        width:auto;
    }

    .logo{
        margin-bottom:20px;
    }

    .menu{
        padding-inline:20px;
    }

    .ville{
        margin-right:-20px;
        width:100%;
    }

    main{
        padding: 0px;
        width:100%;
    }

    .afficher{
        padding:0px;
    }

    .fa-magnifying-glass{
        color:white;
        display:block;
        background-color:#0065FC;
        padding:15px;
        border-radius:10px;
        font-weight:700;
        border:none;
        font-size:90%;
        margin-left:0px;
    }

    .localisation{
        border-radius:10px 0px 0px 10px;
    }

    .rechercher{
        display:none;
    }

    .hebergements, .activites{
        padding:0px 0px 25px 0px;
        border-top:none;
        border-bottom:solid 3px #F2F2F2;
        display:flex;
        justify-content:center;
        width:100%;
    }

    .hebergements:hover, .activites:hover{
        border-bottom:solid 3px #0065FC;
        border-top: 0px;
    }

    .hebergement{
        box-sizing:border-box;
        background:none;
        flex-direction:column;
        flex-wrap:nowrap;
        width:100%;
        padding:0px 20px 0px 20px;
    }

    .Hebergement{
        max-height:215px;
    }

    .article_activite{
        height: 200px;
    }

    .grille{
        flex-direction: column;
        gap:10px;
        justify-content:unset;
    }

    .grille_populaire{
        padding:20px 0px 0px 0px;
    }

    .populaire{
        margin:0px;
    }

    .Populaire{
        flex-direction:row;
        height:140px;
        flex:none;
    }

    .resultat_activite{
        width:100%;
        padding:0px 20px;
    }

    .imageg{
        height:100%;
        width:40%;
        border-radius:17px 0px 0px 17px;
    }

    .barre_recherche{
        justify-content: center;
    }
    
    .filtres{
        flex-wrap:wrap;
        gap:5px;
    }

    .colonne{
        width:100%;
        gap:20px;
    }

    .grille_activite{
        height:auto;
        gap:20px;
    }

    footer{
        height:auto;
    }

    .contenu_footer{
        min-width:0px;
        flex-direction:column;
        width:100%;
    }
}