body{
    display:flex;
    align-items:center;
    flex-direction:column;
    box-sizing:border-box;
    padding :0px;
    font-family:'Raleway';
    margin:0 auto;
}

p{
    margin:0px;
}

header{
    width:100%;
    max-width:1400px;
}

.header{
    display:flex;
    justify-content:space-between;
}

.logo{
    padding-top:30px;
}

ul{
    list-style-type:none;
    padding:0px;
}

li{
    padding:0px;
}

.navigation{
    display:flex;
    justify-content:space-around;
    font-weight:bolder;
    margin-top:0px;
}

.hebergements{
    border-top:solid 3px #0065FC;
    color:#0065FC;
    padding:50px  20px 0px 20px;
    text-decoration:none;
}

.activites{
    border-top:solid 3px white;
    padding:50px 20px 0px 20px;
    color:black;
    text-decoration:none;
}

a:link{
    text-decoration:none;
}

.barre_recherche{
    display:flex;
    margin-top: 25px;
    margin-bottom:25px;
}

.localisation{
    display:flex;
    align-items:center;
    justify-content:center;
    border:1px #F2F2F2 solid;
    background-color: #F2F2F2;
    width:45px;
    border-radius:20px 0px 0px 20px;
}

.ville{
    border:1px #F2F2F2 solid;
    padding:15px 15px 15px 15px;
    font-weight:800;
    margin:0px;
    /*height:16px;*/
}

.formulaire{
    display:flex;
    justify-content:flex-start;
}

.rechercher{
    color:white;
    background-color:#0065FC;
    padding:15px;
    border-radius:0px 20px 20px 0px;
    font-weight:700;
    border:none;
    font-size:90%;
    margin-left:0px;
}

.filtres{
    display:flex;
    align-items:center;
    font-weight:800;
    padding-left:20px;
    gap:45px;
}

.txt_filtres{
    padding-block:13px;
    padding-inline:10px;
}

.element_filtres{
    display:flex;
    align-items:Center;
    border:3px #F2F2F2 solid;
    border-radius:30px 30px 30px 30px;
    padding-right:5px;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{
    box-sizing:content-box;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#0065FC;
    border-radius:50px;
    background-color:#DEEBFF;
    width:50px;
    height:50px;
    margin:-3px;
}

main{
    max-width:1400px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.resultat{
    background-color:#F2F2F2;
    border-radius:15px;
    height:500px;
    padding:40px;
}

.hebergement{
    max-width: 850px;
    display:flex;
    flex-wrap:wrap;
}

.alerte{
    display:flex;
    align-items:Center;
    margin:20px 0px 20px 0px;
}

.fa-info{
    box-sizing:content-box;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#0065FC;
    border:1px solid #F2F2F2;
    width:20px;
    height:20px;
    border-radius:20px;
    font-weight:900;
    margin-right:10px;
}

.titre{
    margin:0px;
    font-size:18px;
}

.Activites{
    padding:50px 0px 25px 0px;
}

.article{
    background-color: white;
    display:flex;
    border-radius:22px;
    border:5px white solid;
    box-shadow:0px 3px 5px #d8d9d9;
}

.grille_hebergement{
    flex-wrap: wrap;
    padding-block:20px;
}

.grille{
    gap:40px;
    display:flex;
}
.Hebergement{
    flex-direction:column;
    height:190px;
    flex:1;
    min-height:0px;
}

.image{
    height:calc(100% - 60px);
    border-radius:17px 17px 0px 0px;
    object-fit:cover;
    min-height:0px;
}

.descriptif{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height: 75px;
    padding:10px 0px 0px 10px;
}

.titre_descriptif{
    font-size:15px;
    font-weight:800;
}

.prix_descriptif{
    font-size:15px;
    font-weight:500;
}

.star-full{
    color:#0065FC;
}

.star-empty{
    color:#DEEBFF;
}

.boutton_afficher{
    width:100%;
    padding-left:20px;
    font-size:14px;
    font-weight:bold;
}

.populaire{
    max-width:420px;
    display:flex;
    flex-direction:column;
}

.fa-chart-line-up{
    width:10px;
    height:10px;
}

.Populaire{
    height:90px;
    min-width:0px;
    flex:1;
}

.grille_populaire{
    flex-direction:column;
    max-height:calc(100% - 39px);
    padding-block:20px;
}

.imageg{
    border-radius:17px 0px 0px 17px;
    object-fit: cover;
    width:calc(100% - 190px);
    min-width:0px;
}

.descriptif_populaire{
    height:120px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding-left:10px;
    width:150px;
}

.grille_activite{
    height:500px;
}

.colonne{
    width:25%;
    display:flex;
    flex-direction:column;
    gap:40px;
}

.article_activite{
    border-radius:15px;
    box-shadow:0px 3px 5px #d8d9d9;
    display:flex;
    flex-direction:column;
    flex:1 1 auto;
    min-height:0px;
}

.activite{
    border-radius:15px 15px 0px 0px;
    object-fit:cover;
    width:100%;
    height: calc(100% - 50px);
}

.descriptif_activite{
    font-weight:bold;
    min-height:50px;
    padding-left:10px;
    font-size:15px;
    display: flex;
    align-items: center;
}

footer{
    margin-top: 20px;
    display:flex;
    width:100%;
    height:200px;
    background-color:#F2F2F2;
    justify-content:center;
}

.contenu_footer{
    max-width:1400px;
    display:flex;
    width:100%;
}

.titre_footer{
    font-weight:700;
}

.liste_footer{
    width:33%;
    display:flex;
    flex-direction:column;
}
.contenue_footer{
    padding-top:15px;
}

@media all and (min-width:768px) and (max-width:992px){
    
    .filtres{
    padding-left: 0px;
    max-width: 992px;
    min-width: 768px;
    gap: 0px;
    justify-content:space-around;
    }

    header{
        max-width:972px;
        min-width: 768px;
        padding-left:20px
    }

    .txt_filtres{
        padding-inline:6px;
    }

    .element_filtres{
        padding-right:0px;
    }

    .resultat_activite{
        margin-inline:20px;
    }

    .resultat{
        min-width:912px;
        border-radius: 0px;
    }

    .contenu_footer{
        min-width:980px;
    }
    .liste_footer{
        padding-right:0px;
    }

    .contenu_footer{
        justify-content:space-around;
    }
    .grille_populaire{
        flex-direction: row;
    }

    .populaire{
        margin-top:50px;
        max-height: 221px;
    }

    .imageg{
        width:calc(100% - 150px);
    }
    .Populaire{
        height:150px;
    }

    .Hebergement{
        height:200px;
    }
}

@media all and (max-width:767px){

    body{
        font-size:x-large;
    }

    header{
        padding:0px;
        background-color: red;
        max-width:767px;
    }

    .header{
        display:block;
        padding:0px;
    }
/*
    .logo{

    }
*/
    .button{
        width:50%;
    }

    .hebergements, .activites{
        padding:0px 0px 25px 0px;
        border-top:none;
        border-bottom:solid 3px #0065FC;
        display:flex;
        justify-content:center;
    }

    .barre_recherche{
        height: 80px;
        display:flex;
        justify-content: center;
    }

    .menu{
        padding:20px;
    }

    .localisation, .rechercher{
        width:100px;
    }
    
    .element_filtres{
        padding-right:20px;
        border-radius: 80px;
    }

    .filtres{
        flex-wrap:wrap;
    }

    .fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{
        width:80px;
        height:80px;
        border-radius:100px;
    }

    .txt_filtres{
        padding-inline:10px;
    }
}